//Цвета
$color-panel:#ECECEC;
$grey: #43484C;
$yellow: yellow;
$green: #396B62; //$grey;
$green-light: #4EC698; //#99CCCC;
$green2: #449d44;
$green3:#06fc23;
$marine:#33FFCC;
$white: #fff;
$blue: #31B0D5;
$black:black;
$orange: #EC971F;
$red:red;
$transparent:transparent;
$panel-link-color: #000;

  /*Цвета фона*/
$color1:white;
$color2:black;
$color3:#9CD6FF;
$color4:darkblue;
$color5:#F7F3D6;
$color6:#765334; //#4d4b43;
$color7:#a9e44d;
$color8:#554131; //#3b2716;

/* Цвета ссылок */
$color-link-grey:#333;

//Шрифты
$font-family: "Roboto","Arial","Times New Roman", sans-serif;
$font-family1: "Roboto", sans-serif;
$font-family2: "Arial", sans-serif;
$font-family3: "Times New Roman", sans-serif;
$font-size: 16px;
$font-size1: 16px;
$font-size2: 20px;
$font-size3: 24px;
$font-size4: 17px;
$font-size-navbar-small:16px;
$font-size-navbar-normal:20px;
$font-size-navbar-big:22px;

$font-weight: normal;
$fs_small: 16px;
$fs_normal: 20px;
$fs_big: 24px;

//Междубуквенный интервал
$letter-spacing-small:0px;
$letter-spacing-normal:2px;
$letter-spacing-big:5px;
