//Цвета
$grey: #43484C;
$yellow: yellow;
$green: #396B62; //$grey;
$green-light: #4EC698; //#99CCCC;
$green2: #449d44;
$green3:#06fc23;
$marine:#33FFCC;
$white: #fff;
$blue:#31B0D5;
$black:#1d1d1d;
$orange: #EC971F;
$red:red;
$transparent:transparent;

//Шрифты
$font-family:"Roboto", sans-serif;
$font-size: 16px;