//Цвета
$color-panel:#ECECEC;
$grey: #43484C;
$yellow: yellow;
$green: #396B62; //$grey;
$green-light: #4EC698; //#99CCCC;
$green2: #449d44;
$green3:#06fc23;
$marine:#33FFCC;
$white: #fff;
$blue: #31B0D5;
$black:black;
$orange: #EC971F;
$red:red;
$transparent:transparent;
$panel-link-color: #000;

  /*Цвета фона*/
$color1:white;
$color2:black;
$color3:#9CD6FF;
$color4:darkblue;
$color5:#F7F3D6;
$color6:#765334; //#4d4b43;
$color7:#a9e44d;
$color8:#3b2716;



//Шрифты
$font-family:"Roboto","Arial", sans-serif;
$font-size: 16px;
$font-weight: normal;
$fs_small: 16px;
$fs_normal: 20px;
$fs_big: 24px;
