@import "partitions/variables";
@import "partitions/mixins";
@import "partitions/media";

body.color4 {
  background-color: $color6;
  color: $color5;

  #header .accessibility {

    background-color: $color6;

    .settings {

      .inputbox {
        color: $color6;
      }

      .a-fontsize {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: 10px;
        margin-right: 10px;

        a {
          background-image: url(../images/icons/brown/brown_fontsize.png);
        }
      }

      .a-images {
        display: flex;
        margin-left: 10px;

        a {
          background-image: url(../images/icons/brown/brown_images.png);
        }
      }

      .a-settings{
        a{
          color: $color5;
        }

      }

      .a-normalversion{
        a{
          color: $color5;
        }
      }

      .popped{
        background-color: $color5;
        color: $color6;

        #color2{
          border: 1px solid $color6;
          background-color: $color5;
        }

        .choose-font-family{
          #roboto{
            font-family: $font-family1;
          }
          #sans-serif{
            font-family: $font-family2;
          }
          #serif{
            font-family: $font-family3;
          }

          a {
            padding: 5px;
            background: $color5;
            color: $color6;
            border-radius: .3em;
            border: 1px solid $color6;

            &.active {
              padding: 5px;
              background: $color6;
              color: $color5;
              border-radius: .3em;
            }
          }
        }

        .choose-letter-spacing{
          #spacing-small {
            letter-spacing: 0px;
          }

          #spacing-normal {
            letter-spacing: 2px;
          }

          #spacing-big {
            letter-spacing: 5px;
          }

          a {
            padding: 5px;
            background: $color5;
            color: $color6;
            border-radius: .3em;
            border: 1px solid $color6;

            &.active {
              padding: 5px;
              background: $color6;
              color: $color5;
              border-radius: .3em;
            }
          }
        }

        .saveit{
          .closepopped{
            background-color: $color5;
            color: $color6;
            border: 4px double $color6;
          }

          .default{
            background-color: $color5;
            color: $color6;
            border: 4px double $color6;
          }
        }
      }
    }
  }
}