@import "partitions/variables";
@import "partitions/mixins";
@import "partitions/media";

#content {
  //background-color: $green;

  .wrap_content {
    border: 1px solid;
    border-radius: 3px;
    margin-bottom: 10px;
    //background-color: blue;

    .row {
      @include clear;
    }

    .main_content {
      //border: 1px dashed;
      //margin: 20px;
      //padding: 10px;

      .list_posts {
        border-right: 1px solid;
        //border-radius: .3em;
        padding: 10px;

        .post {
          padding: 10px;
          margin-bottom: 20px;
          border-bottom: 1px solid;

          .post_header {
            h1 {
              @include clear;
              margin-bottom: 20px;
              font-size: 1.4em;
            }
          }
          .post_category {
            margin-bottom: 20px;
            border-top: 1px solid;
            border-bottom: 1px solid;
          }
          .post_info {

            .post_image {
              display: block;
              float: left;

              img {
                max-width: 250px;
                max-height: 200px;
                margin-right: 20px;
                margin-bottom: 20px;
                border: 1px solid;
              }
            }

            .post_text {
              a {
                text-decoration: underline;
              }
            }
          }
          .post_metainfo {
            padding-top: 10px;
            margin-top: 20px;
            border-top: 1px solid;
          }
        }
      }

      .pag_block {
        @include flex-center;

        .pages {
          width: 100%;

          .wraper_ul{
            @include flex-center;
            ul {
              width: 70%;

              display: flex;
              justify-content: space-around;
              align-items: center;
              li {
                @include flex-center;
                width: 50px;
                height: 50px;
                padding: 0px;
                border: 1px solid;
                border-radius: .3em;

                &.active{
                  background-color: $color2;
                  color:$color1;
                }

                &:hover{
                  background-color: $color2;
                  color:$color1;
                  text-decoration: none;
                }
                //cursor: pointer;
                a {
                  display: flex;
                  justify-content: center;
                  align-items: center;
                  width: 100%;
                  height: 100%;
                  &:hover{
                    text-decoration: none;
                  }

                }
              }
            }
          }

        }

      }

      .mod_block {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 10px;
        border: 1px solid;
        border-radius: .3em;

        .mod_title {
          display: flex;
          justify-content: center;
          width: 100%;
          margin-bottom: 10px;
          padding-bottom: 10px;
          border-bottom: 1px solid;
          text-transform: uppercase;
        }
        .mod_content {
          padding: 10px;

          li {
            margin: 5px;
            border-bottom: 1px dashed;
          }

        }
      }
    }

    .breadcrumbs {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      margin: 20px;
      padding: 5px;
      padding-left: 20px;
      border: 1px solid;
      border-radius: .3em;

      p {
        @include clear;
      }
    }

  }

}