@import "partitions/variables";
@import "partitions/mixins";
@import "partitions/media";

#header {
  .wrap_header{
    //background-color: $green-light;
    margin-top: 90px;
    margin-bottom: 10px;

    .container{
      display: flex;
      flex-direction: column;
      
      .header_content{
        display: flex;
        align-items: center;
        justify-content: flex-start;
        flex-wrap: wrap;
        //margin-left: 10px;
        @include devices-max-width-768px{
          flex-direction: column;
        }
        @include devices-max-width-320px{
          margin-left: -15px;
        }

        .logo{
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          width: 300px;

          @include devices-max-width-992px{
            width: 180px;
          }

          h1{
            @include clear;
            //color: $white;
            font-size: 92px;
            font-weight: bold;
            //font-family: RobotoBold,sans-serif;
            @include shadow_text;

            @include devices-max-width-1200px{
              font-size: 82px;
            }
            @include devices-max-width-992px{
              font-size: 62px;
            }
          }
          .phone{
            display: flex;
            align-items: center;
            //color: $yellow;
            @include shadow_text;
            font-size: 16px;
            //font-family: Roboto, sans-serif;

            i{
              font-size:18px;
              margin-right: 10px;
            }
          }
        }

        .site_title{
          display: flex;
          flex-direction: column;
          margin-left: 40px;
          width: 500px;

          @include devices-max-width-1200px{
            width: 450px;
          }
          @include devices-max-width-992px{
            width: 300px;
          }
          @include devices-max-width-768px{
            justify-content: center;
          }

          h2{
            @include clear;
            //color: $white;
            //font-family: Roboto, sans-serif;
            font-size: 32px;

            @include shadow_text;

            @include devices-max-width-1200px{
              font-size: 28px;
            }
            @include devices-max-width-992px{
              font-size:20px;
            }
            @include devices-max-width-768px{
              font-size:18px;
              margin-top: 5px;
              text-align: center;
            }
          }

          span{
            //color: $yellow;
            font-size: 18px;
            padding-top: 2px;
            @include shadow_text;
            @include devices-max-width-768px{
              font-size:14px;
              margin-top: 5px;
              text-align: center;
            }
          }
        }

        .buttons{
          display: flex;
          flex-direction: column;
          align-items: baseline;
          justify-content: center;
          width: 200px;
          margin-left: auto;
          margin-bottom: -45px;
          @include devices-max-width-1200px{
            width: 170px;
          }
          @include devices-max-width-992px{
            width: 140px;
          }
          @include devices-max-width-768px{
            flex-direction: row;
            justify-content: space-between;
            margin: 10px auto;
            width: 100%;
          }
          @include devices-max-width-320px{
            //margin-left: -5px;
          }

          .key{
            @include flex-center;
            width: 100%;
            border: 2px solid;
            border-radius: .3em;
            padding: 5px;
            margin-bottom: 5px;
            cursor: pointer;
            z-index: 100;

            i{
              margin-right: 10px;
            }
          }

          .mail{
            @include flex-center;
            width: 100%;
            border: 2px solid;
            border-radius: .3em;
            padding: 5px;
            cursor: pointer;
            z-index: 100;

            i{
              margin-right: 10px;
            }
          }


        }
      }

      .meta_info{
        display: flex;
        align-items: center;
        margin-top: -5px;

        .phone{
          display: flex;
          align-items: center;
          justify-content: center;
          width: 326px;
          //color: $black;
          font-size: 24px;
          //@include shadow_text;
          @include devices-max-width-1200px{
            font-size: 18px;
          }
          @include devices-max-width-992px{
            font-size: 16px;
            width: 180px;
          }

          i{
            font-size:24px;
            margin-right: 10px;
            @include devices-max-width-1200px{
              font-size:20px;
              margin-right: 7px;
            }
            @include devices-max-width-992px{
              font-size:18px;
              margin-right: 5px;
            }
          }
        }

        .slogan{
          //color: $black;
          font-size: 20px;
          //@include shadow_text;
          margin-left: 15px;
          @include devices-max-width-1200px{
            font-size: 18px;
          }
          @include devices-max-width-992px{
            font-size: 14px;
          }
        }
      }

      .info_panel{
        display: flex;
        align-items: center;
        //background-color: $grey;
        margin-top: 10px;
        padding: 2px;
        height: 40px;
        border: 1px solid;
        border-radius: 3px;
        //@include shadow_block;

        .icons{
          display: flex;
          align-items: center;
          justify-content: center;
          width: 50px;

          i{
            //color: $color-link-grey;

            &.fa-chevron-right{
              font-size:16px;
              margin-right: -7px;
              @include devices-max-width-1200px{
                font-size: 14px;
              }
              @include devices-max-width-992px{
                font-size: 12px;
              }
            }

            &.fa-2x{
              font-size: 32px;
              //color: $black;
              margin-right: -5px;
              @include devices-max-width-1200px{
                font-size: 28px;
              }
              @include devices-max-width-992px{
                font-size: 24px;
              }
            }

            &.fa-lg{
              font-size:18px ;
              @include devices-max-width-1200px{
                font-size: 16px;
              }
              @include devices-max-width-992px{
                font-size: 14px;
              }
            }
          }
        }

        .run_string{
          //color: $green3;
          width: 600px;
          font-size: 22px;
          @include devices-max-width-1200px{
            width: 580px;
            font-size: 18px;
          }
          @include devices-max-width-992px{
            width: 430px;
            font-size: 16px;
          }
        }

        .search{
          @include clear;
          margin-left:auto;
          display: flex;
          align-items: center;
          border: 1px solid;
          border-radius: 3px;
          //background-color: $white;
          @include devices-max-width-992px{
            border: 1px solid;
          }

          i{
            margin-left: 5px;
            margin-right: 5px;
            font-size: 20px;
            //color: $green-light;
            @include devices-max-width-1200px{
              font-size: 18px;
            }
            @include devices-max-width-992px{
              font-size: 16px;
            }
          }
          input{
            background-color: inherit;
            border: none;
            @include devices-max-width-1200px{
              width: 166px;
              font-size: 16px;
            }
            @include devices-max-width-992px{
              width: 120px;
              font-size: 14px;
            }
          }
          button{
            background-color:inherit;
            border: 1px solid;
            border-top-right-radius: 3px;
            border-bottom-right-radius: 3px;
            //color: $white;
            @include devices-max-width-1200px{
              font-size: 16px;
            }
            @include devices-max-width-992px{
              font-size: 14px;
              margin-bottom: 1px;
              height: 100%;
            }

            &:hover{
              //color: $yellow;
              border: 1px solid;
              text-decoration: underline;
            }

          }
        }
      }
    }
  }
}