@import "partitions/variables";
@import "partitions/mixins";
@import "partitions/media";
@import url('https://fonts.googleapis.com/css?family=Roboto');

html, body {
  @include clear;
  @include font-default;
}

body {
  background-color: $green;

  .accessibility {
    letter-spacing: 0px;
  }

  //Установка шрифтов

  &.roboto{
    font-family: $font-family1;
  }

  &.sans-serif{
    font-family: $font-family2;
  }

  &.serif{
    font-family: $font-family3;

    .accessibility {
      font-size: $font-size4 !important;
    }
  }


  &.fontsize-small {

    font-size:$font-size;

    a.a-fontsize-small {
      background-position: 0px -31px !important;
    }

    .popped  {
      font-size:$font-size;
    }
  }

  &.fontsize-normal {

    font-size:$font-size2;

    a.a-fontsize-normal {
      background-position: -20px -31px !important;
    }

    .popped  {
      font-size:$font-size2;
    }
  }

  &.fontsize-big {

    font-size:$font-size3;

    a.a-fontsize-big {
      background-position:-46px -31px !important;
    }

    .popped  {
      font-size:$font-size3;
    }
  }

  &.color1{
    background-color: $color1 !important;

    .a-color1{
      background-position:0 -31px !important;
    }
  }

  &.color2{
    background-color: $color2 !important;

    .a-color2{
      background-position:-26px -31px !important;
    }
  }

  &.color3{
    background-color: $color3 !important;
    .a-color3{
      background-position:100% -31px !important;
    }
  }

  &.imageson{
    .a-images a {
      background-position: 0 -27px;
    }
  }

  &.spacing-small {
    letter-spacing:$letter-spacing-small;
    .popped{
      letter-spacing:$letter-spacing-small;
    }
  }

  &.spacing-normal {
    letter-spacing:$letter-spacing-normal;
    .popped{
      letter-spacing:$letter-spacing-normal;
    }
  }

  &.spacing-big {
    letter-spacing:$letter-spacing-big;
    .popped{
      letter-spacing:$letter-spacing-big;
    }
  }


}

a {
  text-decoration: none;
  &.active {
    color: $yellow;
  }
}

ul {
  @include clear-list;
}
