@import "partitions/variables";
@import "partitions/mixins";
@import "partitions/media";
@import url('https://fonts.googleapis.com/css?family=Roboto');

html, body {
  @include clear;
  @include font-default;
}

body {
  background-color: $white;
  a {
    color: $black;
    &:hover {
      text-decoration: underline;
      color: inherit;
    }
  }

  ul {
    @include clear-list;
  }

  .accessibility {
    letter-spacing: 0px;
  }

  //Установка шрифтов

  &.roboto {
    font-family: $font-family1;
  }

  &.sans-serif {
    font-family: $font-family2;
  }

  &.serif {
    font-family: $font-family3;

    .accessibility {
      font-size: $font-size4 !important;
    }
  }

  //Установка размера текста
  &.fontsize-small {

    font-size: $font-size;

    #header {
      .navbar {
        font-size: $font-size-navbar-small;
      }

      .wrap_header {

        .header_content {
          .logo {
            h1 {
              font-size: 82px;
            }
          }
          .site_title {
            h2 {
              font-size: 28px;
            }
          }
        }

        .meta_info {
          .phone {
            font-size: 18px;
          }
          .slogan {
            font-size: 18px;
          }
        }

        .info_panel {
          .run_string {
            font-size: 18px;
          }
        }

      }
    }

    a.a-fontsize-small {
      background-position: 0px -31px !important;
    }

    .popped {
      font-size: $font-size;
    }

    #news {
      .wrap_news {
        h1 {
          font-size: 18px;
        }

        .articles {
          .article {
            .art_cont {
              .title {
                h3 {
                  font-size: 18px;
                }
              }
            }
          }
        }
      }
    }

    #block_links{
      .wrap_block_links{
        h3{
          font-size: $font-size1;
        }
      }
    }

    #footer{
      .wrap_footer{
        h3{
          font-size: $font-size1;
        }
      }
    }
  }

  &.fontsize-normal {

    font-size: $font-size2;

    #header {
      .navbar {
        font-size: $font-size-navbar-normal;
      }
    }

    a.a-fontsize-normal {
      background-position: -20px -31px !important;
    }

    .popped {
      font-size: $font-size2;
    }

    #news {
      .wrap_news {

        .articles {
          .article {
            .art_cont {
              .title {
                h3 {
                  font-size: 20px;
                  transition: .3s all;
                }
              }
            }
          }
        }
      }
    }
  }

  &.fontsize-big {

    font-size: $font-size3;

    #header {
      .navbar {
        font-size: $font-size-navbar-big;
      }
      .wrap_header {

        .header_content {
          .logo {
            h1 {
              font-size: 102px;
            }
          }
          .site_title {
            h2 {
              font-size: 36px;
            }
          }
        }

        .meta_info {
          .phone {
            font-size: 28px;
          }
          .slogan {
            font-size: 22px;
          }
        }
        .info_panel {
          height: 45px;

          .run_string {
            font-size: 28px;
          }
        }

      }
    }

    a.a-fontsize-big {
      background-position: -46px -31px !important;
    }

    .popped {
      font-size: $font-size3;
    }

    #news {
      .wrap_news {
        h1 {
          font-size: 26px;
        }

        .top_article {
          .title {
            h2 {
              font-size: 24px;
              transition: .3s all;
            }
          }
        }

        .articles {
          .article {
            .art_cont {
              .title {
                h3 {
                  font-size: 24px;
                }
              }
            }
          }
        }
      }
    }

    #block_links{
      .wrap_block_links{
        h3{
          font-size: $font-size3;
        }
      }
    }

    #footer{
      .wrap_footer{
        h3{
          font-size: $font-size3;
        }
      }
    }
  }

  // Белая тема
  &.color1 {

    .a-color1 {
      background-position: 0 -31px !important;
    }

    .wrapper_nav {
      ul {
        li {
          &:hover {
            color: $color1;
            background-color: $color2;
            > a{
              color: $color1;
            }
          }
          &.active {
            color: $color1;
            background-color: $color2;

            > a{
              color: $color1;
            }
          }
          &.dropdown{
            ul{
              border: 1px solid $color2 !important;
              li{
                border-bottom: 1px solid $color2 !important;
              }
            }
          }
        }
      }
    }

    .key{
      &:hover{
        background-color: $color2;
        color: $color1;
      }
    }
    .mail{
      &:hover{
        background-color: $color2;
        color: $color1;
      }
    }

    .search{
      button {
        background-color: $color2 !important;
        color: $color1;
      }
    }

    .see_more a{
      &:hover{
        background-color: $color2;
        color: $color1;
        text-decoration: none;
      }
    }
    .all_news button{

        &:hover{
          background-color: $color2 !important;
          color: $color1 !important;
          a{
            text-decoration: none !important;
          }

        }
    }

  }
  // Чёрная тема
  &.color2 {
    .a-color2 {
      background-position: -26px -31px !important;
    }

    .wrapper_nav {
      ul {
        li {
          &:hover {
            color: $color2;
            background-color: $color1;
            > a{
              color: $color2;
            }
          }
          &.active {
            color: $color2;
            background-color: $color1;

            > a{
              color: $color2;
            }
          }
          &.dropdown{
            ul{
              border: 1px solid $color1 !important;
              li{
                border-bottom: 1px solid $color1 !important;
                &:hover{
                  a{
                    color: $color2;
                  }
                }
              }
            }
          }
        }
      }
    }

    .key{
      &:hover{
        background-color: $color1;
        color: $color2;
      }
    }
    .mail{
      &:hover{
        background-color: $color1;
        color: $color2;
      }
    }

    .search{
      button {
        background-color: $color1 !important;
        color: $color2;
      }
    }

    .see_more a{
      &:hover{
        background-color: $color1;
        color: $color2;
        text-decoration: none;
      }
    }
    .all_news button{

      &:hover{
        background-color: $color1 !important;
        color: $color2 !important;
        a{
          text-decoration: none !important;
        }

      }
    }
  }
  //Синяя тема
  &.color3 {
    .a-color3 {
      background-position: 100% -31px !important;
    }
    .wrapper_nav {
      ul {
        li {
          &:hover {
            color: $color3;
            background-color: $color4;
            > a{
              color: $color3;
            }
          }
          &.active {
            color: $color3;
            background-color: $color4;

            > a{
              color: $color3;
            }
          }
          &.dropdown{
            ul{
              border: 1px solid $color4 !important;
              li{
                border-bottom: 1px solid $color4 !important;
                &:hover{
                  a{
                    color: $color3;
                  }
                }
              }
            }
          }
        }
      }
    }

    .key{
      &:hover{
        background-color: $color4;
        color: $color3;
      }
    }
    .mail{
      &:hover{
        background-color: $color4;
        color: $color3;
      }
    }

    .search{
      button {
        background-color: $color4 !important;
        color: $color3;
      }
    }

    .see_more a{
      &:hover{
        background-color: $color4;
        color: $color3;
        text-decoration: none;
      }
    }
    .all_news button{

      &:hover{
        background-color: $color4 !important;
        color: $color3 !important;
        a{
          text-decoration: none !important;
        }

      }
    }
  }
  //Коричневая тема
  &.color4 {
    .a-color3 {
      background-position: 100% -31px !important;
    }
    .wrapper_nav {
      ul {
        li {
          &:hover {
            color: $color5;
            background-color: $color6;
            > a{
              color: $color5;
            }
          }
          &.active {
            color: $color5;
            background-color: $color6;

            > a{
              color: $color5;
            }
          }
          &.dropdown{
            ul{
              border: 1px solid $color6 !important;
              li{
                border-bottom: 1px solid $color6 !important;
                &:hover{
                  a{
                    color: $color5;
                  }
                }
              }
            }
          }
        }
      }
    }

    .key{
      &:hover{
        background-color: $color6;
        color: $color5;
      }
    }
    .mail{
      &:hover{
        background-color: $color6;
        color: $color5;
      }
    }

    .search{
      button {
        background-color: $color6 !important;
        color: $color5;
      }
    }

    .see_more a{
      &:hover{
        background-color: $color6;
        color: $color5;
        text-decoration: none;
      }
    }
    .all_news button{

      &:hover{
        background-color: $color6 !important;
        color: $color5 !important;
        a{
          text-decoration: none !important;
        }

      }
    }
  }
  //Зелёная тема
  &.color5 {
    .a-color3 {
      background-position: 100% -31px !important;
    }
    .wrapper_nav {
      ul {
        li {
          &:hover {
            color: $color8;
            background-color: $color7;
            > a{
              color: $color8;
            }
          }
          &.active {
            color: $color8;
            background-color: $color7;

            > a{
              color: $color8;
            }
          }
          &.dropdown{
            ul{
              border: 1px solid $color7 !important;
              li{
                border-bottom: 1px solid $color7 !important;
                &:hover{
                  a{
                    color: $color8;
                  }
                }
              }
            }
          }
        }
      }
    }

    .key{
      &:hover{
        background-color: $color7;
        a{
          color: $color8;
        }
      }
    }
    .mail{
      &:hover{
        background-color: $color7;
        a{
          color: $color8;
        }
      }
    }
    .search{
      button {
        background-color: $color7 !important;
        color: $color8;
      }
    }

    .see_more a{
      &:hover{
        background-color: $color7;
        color: $color8;
        text-decoration: none;
      }
    }
    .all_news button{

      &:hover{
        background-color: $color7 !important;
        color: $color8 !important;
        a{
          text-decoration: none !important;
        }

      }
    }
  }

  &.imageson {
    .a-images a {
      background-position: 0 -27px;
    }
  }

  //Установка межбуквенного интервала
  &.spacing-small {
    letter-spacing: $letter-spacing-small;
    .popped {
      letter-spacing: $letter-spacing-small;
    }

    #header {
      .wrap_header {
        margin-top: 100px;
      }
    }
  }

  &.spacing-normal {
    letter-spacing: $letter-spacing-normal;
    .popped {
      letter-spacing: $letter-spacing-normal;
    }
    #header {
      .wrap_header {
        margin-top: 110px;
      }
    }
  }

  &.spacing-big {
    letter-spacing: $letter-spacing-big;
    .popped {
      letter-spacing: $letter-spacing-big;
    }

    #header {

      .wrap_header {
        margin-top: 110px;

        .meta_info {
          margin-top: 35px;
          .phone {
            width: 352px;
          }
        }
      }
    }
  }

}
