@import "partitions/variables";
@import "partitions/mixins";
@import "partitions/media";

body.color5 {
  background-color: $color6;
  color: $color7;

  a{
    color: $color7;
    text-decoration: none;
    &:hover{
      text-decoration: underline;
    }
  }

  #header {

    .accessibility{

      background-color: $color8;

      .settings {

        .inputbox {
          color: $color8;
        }

        .a-fontsize {
          display: flex;
          justify-content: center;
          align-items: center;
          margin-left: 10px;
          margin-right: 10px;

          a {
            background-image: url(../images/icons/mint/mint_fontsize.png);
          }
        }

        .a-images {
          display: flex;
          margin-left: 10px;

          a {
            background-image: url(../images/icons/mint/mint_images.png);
          }
        }

        .a-settings{
          a{
            color: $color7;
          }

        }

        .a-normalversion{
          a{
            color: $color7;
          }
        }

        .popped{
          background-color: $color8;
          color: $color7;


          .choose-font-family{
            #roboto{
              font-family: $font-family1;
            }
            #sans-serif{
              font-family: $font-family2;
            }
            #serif{
              font-family: $font-family3;
            }

            a {
              padding: 5px;
              background: $color8;
              color: $color7;
              border-radius: .3em;
              border: 1px solid $color7;

              &.active {
                padding: 5px;
                background: $color7;
                color: $color8;
                border-radius: .3em;
              }
            }
          }

          .choose-letter-spacing{
            #spacing-small {
              letter-spacing: 0px;
            }

            #spacing-normal {
              letter-spacing: 2px;
            }

            #spacing-big {
              letter-spacing: 5px;
            }

            a {
              padding: 5px;
              background: $color8;
              color: $color7;
              border-radius: .3em;
              border: 1px solid $color7;

              &.active {
                padding: 5px;
                background: $color7;
                color: $color8;
                border-radius: .3em;
              }
            }
          }

          .saveit{
            .closepopped{
              background-color: $color8;
              color: $color7;
              border: 4px double $color7;
            }

            .default{
              background-color: $color8;
              color: $color7;
              border: 4px double $color7;
            }
          }
        }
      }
    }

    .navbar {
      background-color: $color6;

      .wrapper_nav{
        >ul{
          li{
            &.dropdown{
              ul{
                background-color: $color6;
              }
            }

          }
        }
      }
    }
  }
}