@import "partitions/variables";
@import "partitions/mixins";
@import "partitions/media";

#header {

  .navbar {

    margin-top: 40px;
    margin-bottom: 10px;
    background-color: white;
    //@include shadow_block;
    z-index: 1000;
    //@include shadow_block;
    border-bottom: 1px solid;
    font-size: 20px;

    .menu_icon {

      .wrap_icon {
        padding-top: 10px;
        display: flex;
        align-items: center;
        justify-content: flex-start;

        i {
          cursor: pointer;
          font-size: 24px;
          //color: $white;
          width: 30px;
          height: 30px;
          margin-left: 5px;
          margin-right: 25px;
          //@include shadow_text;

        }

        .run_string {
          //color: $green3;
          height: 30px;

          span {
            //color: $yellow;
            text-transform: uppercase;
          }
        }

      }
    }

    .wrapper_nav {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      min-height: 50px;

      .home_icon {
        height: 100%;
        //color: $white;
        font-size: 22px;
        display: flex;
        align-items: center;
        justify-content: center;
        padding-bottom: 2px;
        margin-left: 5px;

        @include devices-max-width-1200px {
          font-size: 20px;
        }
        @include devices-max-width-992px {
          font-size: 18px;
        }

        a {
          &.active {
            //color: $black;
          }
          &:hover {
            text-decoration: underline;
          }
        }

        &:hover {
          a {
            //color: $color-link-grey;

          }
        }
      }
      > ul {
        @include clear-list;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        padding-left: 15px;
        flex-wrap: wrap;

        @include devices-max-width-1200px {
          padding-left: 10px;
        }
        @include devices-max-width-992px {
          padding-left: 5px;
        }
        width: 100%;

        > li {
          padding-left: 10px;
          padding-right: 10px;
          text-transform: uppercase;
          border-radius: .1em;
          @include flex-center;

          @include devices-max-width-1200px {
            padding-right: 15px;
          }
          @include devices-max-width-992px {
            padding-right: 10px;
          }

          //&:first-child {
          //  padding-left: 10px;
          //}

          a {
            text-decoration: none;
            @include devices-max-width-1200px {
              font-size: 16px;
            }
            @include devices-max-width-992px {
              font-size: 14px;
            }

          }


          &.dropdown {
            display: flex;
            align-items: center;

            span {
              cursor: pointer;

              @include devices-max-width-1200px {
                font-size: 16px;
              }
              @include devices-max-width-992px {
                font-size: 14px;
              }

            }

            i {
              padding-left: 5px;
              font-size: 12px;
              @include devices-max-width-1200px {
                font-size: 10px;
              }
              @include devices-max-width-992px {
                font-size: 8px;
              }
            }

            &:hover {

              ul {
                top: 39px;
                visibility: visible;
                border: 1px solid;
                z-index: 100;
                @include devices-max-width-1200px{
                  top: 37px;
                }
                @include devices-max-width-992px{
                  top: 36px;
                }
              }
            }

            ul {
              @include clear-list;
              @include shadow_block;
              display: flex;
              flex-direction: column;
              align-content: flex-start;
              position: absolute;
              top: 39px;
              left: 0;
              min-width: 300px;
              //opacity: 0;
              visibility: hidden;
              transition: all .3s;
              background-color: $color1;
              border: 1px solid;
              @include devices-max-width-1200px{
                top: 37px;
              }
              @include devices-max-width-992px{
                top: 36px;
              }

              > li {
                padding: 5px 15px;
                cursor: pointer;
                border-bottom: 1px dotted;

                a {
                  text-transform: none;
                  display: block;
                  width: 100%;
                  height: 100%;
                  &.active {
                    //color: $black;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
  .mobile_menu {
    //background-color: lighten($grey, 3%);
    width: 100%;

    .search {
      margin-top: 10px;
    }

    .btn-success {
      //background-color: $green;

      &:hover {
        //color: $black;
        border: 1px solid;
      }
    }

    & ul {
      padding: 2px;
      background-color: inherit;
      margin-top: 10px;
      margin-bottom: 10px;
      border-radius: 3px;
      @include shadow_block;

      & li {
        padding: 5px 15px;
        //background-color: $white;
        border-bottom: 1px dotted;
        width: 100%;
        cursor: pointer;
        text-transform: uppercase;

        &:last-child {
          border-bottom: none;
        }

        & a {
          display: block;
          width: 100%;
          //color: $color-link-grey;
          text-decoration: none;

          &:hover {
            //color: $black;
            text-decoration: underline;
          }
        }

        .title {
          display: flex;
          justify-content: space-between;
          align-items: center;

          &.active {
            //color: $black;
            text-decoration: underline;
            span, i {
              //color: $black;
            }
          }

          &:hover {
            //color: $black;
            text-decoration: underline;

            & span {
              //color: $black;
            }

            & i {
              //color: $black;
            }
          }

          & span {
            //color: $black;

          }
          & i {
            //color: $black;
            font-size: 22px;
          }
        }

        & ul {
          @include clear-list;
          background-color: inherit;
          padding: 2px;
          margin-top: 5px;

          & li {
            background-color: inherit;

            & a {
              font-size: 12px;

              &.active {
                //color: $black;
                text-decoration: underline;
              }
            }

          }
        }

      }
    }
  }
}













