@import "partitions/variables";
@import "partitions/mixins";
@import "partitions/media";

#news {
  background-color: $green;

  .wrap_news {
    @include clear;
    border: 3px solid $green-light;
    border-radius: 3px;
    background-color: $white;
    padding: 10px;
    margin-bottom: 10px;
    //height: 400px;

    h1 {
      @include clear;
      color: $green-light;
      font-size: 22px;
      padding: 5px 20px;
      font-family: 'RobotoRegular', sans-serif;
      text-transform: uppercase;
    }

    .top_article {
      padding: 10px;
      width: 100%;
      height: 400px;
      position: relative;
      //cursor: pointer;

      &:hover {
        .content {
          top: 0px;
          height: 400px;

          .title {

            border-bottom: 2px dotted $green;
          }
          .text {
            visibility: visible;
            padding-left: 10px;
          }
        }
      }

      .image {
        padding: 3px;
        width: 100%;
        height: 300px;
        overflow: hidden;
        border: 1px solid $grey;

        img {
          width: 100%;
          height: 100%;
        }

      }

      .content {
        position: absolute;
        padding: 10px;
        padding-top: 0px;
        top: 310px;
        left: 0;
        height: 100px;
        overflow: hidden;
        background-color: $white;
        transition: all .8s;

        .title {
          margin: 0;
          padding: 5px;

          .date {
            display: flex;
            .day {
              padding-right: 5px;
            }
            .month {
              padding-right: 5px;
            }
          }

          h2 {
            @include clear;
            padding-top: 5px;
            font-size: 20px;
            color: darken($grey, 20%);
            height: 50px;
            overflow: hidden;

            a {
              color: darken($grey, 20%);
              text-decoration: none;

              &:hover {
                color: $green;
              }
            }
          }
        }

        .text {
          padding: 5px;
          visibility: hidden;
          max-height: 230px;
          overflow: hidden;

          a {
            color: $green-light;
          }
        }

        .link {
          margin-top: 10px;
          margin-left: 10px;
          padding: 3px;
          //padding-left: 5px;
          background-color: $green;
          width: 130px;
          border-radius: 5px;
          a {
            display: flex;
            align-items: center;
            text-decoration: none;
            justify-content: space-around;
            color: $white;

            &:hover {
              color: $yellow;

              i {
                color: $yellow;
              }
            }

            i {
              margin-top: 3px;
              padding-right: 5px;
              color: $green-light;
              font-size: 16px;
              color: $white;

            }
            span {
              font-size: 16px;
            }
          }

        }

      }
    }

    .articles {
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      padding: 10px;

      .article {
        display: flex;
        height: 150px;
        overflow: hidden;
        position: relative;
        margin-bottom: 10px;

        &:hover {

          .art_img {
            visibility: hidden;
            top: 100%;
          }
          .art_cont {
            .date {
              //top: 5px;
              //left: 5px;
              visibility: hidden;
              top: 100%;
            }
            .title {
              //left: 5px;
              visibility: hidden;
              top: 100%;
            }
            .art_text {
              visibility: visible;
              left: 5px;
              top: 0px;
            }
            .link {
              visibility: visible;
              top:115px;
            }
          }
        }

        .art_img {
          position: absolute;
          top: 0;
          left: 5px;
          padding: 3px;
          width: 200px;
          height: 140px;
          border: 1px solid $grey;
          margin-right: 15px;
          transition: all .8s;

          img {
            width: 100%;
            height: 100%;
          }
        }
        .art_cont {
          padding: 3px;

          .date {
            opacity: .7;
            position: absolute;
            top: 0px;
            left: 220px;
            font-size: 16px;
            transition: all .8s;
          }
          .title {
            position: absolute;
            left: 220px;
            top: 30px;
            transition: all .8s;
            h3 {
              @include clear;
              font-size: 20px;

              a {
                color: darken($grey, 20%);
                text-decoration: none;
                &:hover {
                  color: $green;
                }
              }
            }
          }
          .art_text {
            padding: 0;
            position: absolute;
            top: 100%;
            left: 5px;
            visibility: hidden;
            transition: all .8s;
            max-height: 120px;
            overflow: hidden;
          }
          .link {
            margin-top: 5px;
            padding: 3px;
            position: absolute;
            top: 100%;
            left: 5px;
            visibility: hidden;
            transition: all .8s;
            background-color:$green;
            border-radius: 5px;
            width: 130px;
            @include shadow_block;

            a{
              text-decoration: none;
              color: $white;
              display: flex;
              align-items: center;
              justify-content: space-around;
              &:hover{
                color: $yellow;
              }
              i{
                margin-top: 3px;
                margin-left: 5px;
                font-size: 16px;
              }
            }
          }
        }
      }
    }

    .all_news{
      display: flex;
      align-items: center;
      justify-content: center;

      button{

        padding: 5px 10px;
        background-color: $green;
        border-radius: 5px;
        &:hover{
          color: $yellow;
          a{color: $yellow}
          @include shadow_block;
        }
        a{
          color: $white;
          &:hover{
            color: $yellow;
          }
        }
      }
    }
  }
}